<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Cuentas
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'addCuentaAhorro' %}">Crear cuenta de ahorro</a>
                <a href="{% url 'addCuentaMonetaria' %}">Crear cuenta monetaria</a>
                <a href="{% url 'addCuentaPlazoFijo' %}">Crear cuenta de plazo fijo</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Registro
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'registrocliente' %}">Registro Cliente Individual</a>
                <a href="{% url 'registroempresa' %}">Registro Empresa</a>
            </div>
        </div>
        <a id="logout" href="{% url 'loginadmin' %}">Salir</a>
    </div>
    {% block content %}
        {#        contenido de las paginas que utilizan esta plantilla#}
    {% endblock content %}


</body>
</html>