<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form class="formulario">
            <label for="Iusuario">Usuario</label><br>
            <input type="text" id="Iusuario" name="usuario"><br>
    
            <label for="Ipass">Contraseña</label><br>
            <input type="password" id="Ipass" name="pass"><br>
    
            <input type="submit" id="btnIngresar" value="Ingresar" class="btn">
        </form>    
    </div>
    
</body>
</html>