<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre autorizacion cheque</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>Pre-Autorizar Cheque</h1>
    <hr>
    <form class="formulario">
        <label for="fnumerocheque">Numero de cheque</label>
        <input type="text" id="fnumerocheque"><br>
        <label for="fnumerocuenta">Numero de cuenta</label>
        <input type="text" id="fnumerocuenta"><br>
        <label for="fmonto">Monto</label>
        <input type="text" id="fmonto"><br>
        <label for="freceptor">Nombre del receptor</label>
        <input type="text" id="freceptor"><br>
        <input type="submit" id="btnAutorizarChequ" class="btnSubmit" value="Autorizar cheque">
    </form>
</body>
</html>